@import 'variables';
@import 'media';

%text-two {
    text-align: center;
    color: $dark-des;
}

.container-two {
    margin-top: 100px;
    font-family: $font-one;

    h2 {
        @extend %text-two;
        font-size: 27px;
        font-weight: 600;

        @include desktop {
            font-size: 35px;
        }
    }

    img {
        width: 100%;
        padding: 0.5rem;

        @include desktop {
            width: 40vw;
            margin-right: -200px;
        }
    }
    
    h3 {
        font-size: 30px;
        @extend %text-two;
        padding: 0 2rem;
    }

    p {
        text-align: center;
        color: $very-gb;
        font-size: 18px;
        padding: 0.5rem 2rem;
        line-height: 2;
    }

    .columns {
        @include desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 0 5rem;
        }
    }

    .section-one {
        @include desktop {
            padding: 0 2.5rem;
        }

        h3 {
            @include desktop {
                text-align: left;
            }
        }

        p {
            @include desktop {
                text-align: left;
            }
        }
    }

    .section-two {
        @extend .section-one;
    }
}