//Colors
$light-red: hsl(356, 100%, 66%);
$very-lr: hsl(355, 100%, 74%);
$very-db: hsl(208, 49%, 24%);

$white: hsl(0, 0%, 100%);
$footer-txt: hsl(240, 2%, 79%);
$footer-bg: hsl(240, 10%, 16%);
$very-gb: hsl(207, 13%, 34%);

//Background gradient - Intro/CTA mobile nav:
$very-light-mobile: hsl(13, 100%, 72%);
$light-mobile: hsl(353, 100%, 62%);

//Background gradient - body:
$dark-gray: hsl(237, 17%, 21%);
$dark-des: hsl(237, 23%, 32%);


//Fonts
$font-one: 'Overpass', sans-serif;
$font-two: 'Ubuntu', sans-serif;